<nav class="sticky-top">
    <div class="inner d-flex justify-content-between no-list text-nowrap">
        <a href="#block1">
            <li class="pc">快速黑科技祛斑術</li>
            <li class="mo">快速祛斑術</li>
        </a>
        <a href="#block2">
            <li class="pc">抗老小顏精雕噴射槍教學</li>
            <li class="mo">抗老小顏教學</li>
        </a>
        <a href="#block3">
            <li class="pc">DNA皮膚重生術</li>
            <li class="mo">皮膚重生術</li>
        </a>
        <a href="#block4">
            <li class="pc">韓國科技育髮教學</li>
            <li class="mo">育髮教學</li>
        </a>
    </div>
</nav>